<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dolekapil.androidapplication.caloriemeter"
    android:versionCode="2"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AnalyticsApplication">
        <activity
            android:name="com.dolekapil.androidapplication.caloriemeter.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dolekapil.androidapplication.caloriemeter.SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.dolek.fitnessguru.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dolekapil.androidapplication.caloriemeter.ThirdActivity"
            android:label="@string/title_activity_third"
            android:theme="@style/AppTheme.NoActionBar" >
            <action android:name="com.dolekapil.androidapplication.caloriemeter.ThirdActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.dolekapil.androidapplication.caloriemeter.FirstActivity"
            android:label="@string/title_activity_first"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.dolek.fitnessguru.FirstActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dolekapil.androidapplication.caloriemeter.FourthActivity"
            android:label="@string/title_activity_fourth"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.dolek.fitnessguru.FourthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dolekapil.androidapplication.caloriemeter.FifthActivity"
            android:label="@string/title_activity_fifth"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.dolek.fitnessguru.FifthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dolekapil.androidapplication.caloriemeter.LastActivity"
            android:label="@string/title_activity_last"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.dolek.fitnessguru.LastActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
